
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

main {
  padding-top: 3rem !important;
}

.journey::after {
  content: 'Start your trading journey now';
}

.gateway {
  padding-top: 0.5rem;
}

.main-heading {
  background-color: #b8f2fd;
  padding-top: 2rem;
  padding-bottom: 7rem;
}

.middle-section {
  margin-top: -4rem;
  margin-bottom: 2rem;
}

.btn {
  background-color: #1475a5;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.btn:hover {
  background-color: #07a3f1;
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.btn:active {
  background-color: #1475a5 !important;
}

.cards-section {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.cards-section:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

h1 {
  animation: 2s ease-out infinite;
  font-weight: 500;
  font-size: 3rem;
}

@keyframes enter-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes highlightFadeIn {
  0% {
    opacity: 1;
    color: #ffc107;
  }
  50% {
    color: #040608;
  }
  100% {
    opacity: 1;
    color: #ffc107;
  }
}

@media (prefers-reduced-motion: no-preference) {
    .image-animation {
      animation: enter-animation 0.8s 1;
    }
  }  

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    button > img {
        width: 2rem;
    }
    .main-heading {
      padding-top: 0rem;
    }
    .middle-section {
        display: inline-grid !important;
        gap: 1.5rem !important;
    }
    .middle-section-div {
      margin-top: -4rem !important;
      margin-bottom: 1rem !important;
    }
    
}

@media (max-width: 678px) {
  .journey {
    font-size: 1rem !important;
  }
  .commence {
    font-size: 1rem !important;
  }
  .deepak-heading {
    font-size: 1rem !important;
    font-weight: 500;
  }
}

@media (max-width: 572px) {
  .journey::after {
    content: 'Join Now';
  }
}

@media (max-width: 376px) {
  .deepak-heading > img {
    width: 2rem;
  }
  .deepak-heading {
    font-size: 0.9rem !important;
  }
  .journey > img {
    margin-right: 0.7rem !important;
  }
  .nav-div {
    padding: 0.2 !important;
  }
}

.fixed-disclaimer {
  background-color: #07A3F1;
  /* Red background color */
  color: #ffffff;
  /* White text color */
  text-align: center;
  /* Center align the text */
  /* font-size: 0.8rem; */
  /* Make the disclaimer fixed */
  /* bottom: 0; */
  /* Position it at the bottom of the viewport */
  /* left: 0; */
  /* Position it at the left edge */
  /* width: 100%; */
  /* Take the full width of the viewport */
  /* z-index: 999; */
  /* Set a high z-index to ensure it appears above other content */
  padding: 2rem 0;
}

.fixed-disclaimer p {
  margin-bottom: 0 !important;
}